body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    border: 3px solid #000;
    background-color: rgb(119, 186, 190);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.navigation-list{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     list-style: none;
     
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color:rgb(10, 83, 112);
   
    
}

.important {
    font-weight: 500;
    color: rgb(221, 130, 19);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .unordered {
    list-style-type: none;
    line-height: 40px;
  }

  a {
    text-decoration: none;
  }
 img {
    vertical-align: middle;
 }
